<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/authors">Author</a></li>
      <li><a href="/books/new">Create Books</a></li>
    </ul>
  </nav>

  <section>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Pages</th>
          <th>Year</th>
          <th>Publisher</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% for (const book of books) { %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.author.name %></td>
            <td><%= book.pages %></td>
            <td><%= book.year %></td>
            <td><%= book.publisher %></td>
            <td>Future Actions</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</body>
</html>